.about-container {
    margin-top: 90px;
    font-family: "PT Serif", serif;
    font-style: normal;
    color: #ffffff;
}
.about-container .content-about {
    font-size: 3.5vh;
    text-align: start;
    font-family: "PT Serif", serif;
    font-style: normal;
    color: #ffffff;
    

}
.about-container img {
    height: 400px;
    width: auto;
   border-radius: 15px;
}
/* .about-container button {
    height: 50px;
    width: 80px;
    border: none;
    border-radius: 10px;

} */

.about-btn {
    height: 3em;
 width: 8em;
 border: none;
 border-radius: 10em;
 background: #016DD9;
 font-size: 17px;
 color: #ffffff;
 font-family: inherit;
 font-weight: 500;
}
.about-btn:hover {
    animation: praveen 0.3s linear infinite both;
   }

   @keyframes praveen {
    0% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   
    20% {
     -webkit-transform: translate(-2px, 2px);
     transform: translate(-2px, 2px);
    }
   
    40% {
     -webkit-transform: translate(-2px, -2px);
     transform: translate(-2px, -2px);
    }
   
    60% {
     -webkit-transform: translate(2px, 2px);
     transform: translate(2px, 2px);
    }
   
    80% {
     -webkit-transform: translate(2px, -2px);
     transform: translate(2px, -2px);
    }
   
    100% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   }
   
   